<!doctype html>
<html>
  <head>
    <title>FoxChatter Newsfeed</title>
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/feed.css">
    <meta charset="utf-8"/>

  </head>
  <body>
    <script src="/js/global.js"></script>
    <script src="/js/feed.js"></script>
    <header>
      <!--Site Name-->
      FoxChatter
      <!--MyMarist Portal-->
      <div id="portal_button">
        <img src="images/redfox.png" alt = "My Marist" width ="100" height = "100">
        My Marist
      </div>
    </header> 
    <main>
        <div id = "newsfeed">Feed will go here.</div>
    </main>
    <footer>
      <p id="site_info">Copyright &copy; 2020: Marist College est. 1929</p>
    </footer>

  </body>
</html>
