header {
	font-family: "Cute Font", sans-serif;
	position: fixed;
	left:0px;
	top: 0px;
	height: 60px;
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: rgb(255, 255, 255);
	font-size: 30px;
	color: rgb(0, 0, 0);
	text-align: center;
}

main {
	font-weight: 900px;
	font-family: "Playwrite FR Moderne", cursive;
	display: grid;
	padding-top: 60px;
	justify-content: center;
	text-align: center;
}

footer {
	font-weight: 400px;
	font-family: "Cute Font", sans-serif;
	position: bottom;
	left: 0px;
  bottom: 0px;
	width: 100%;
	background-color: rgb(255, 255, 255);
	text-align: center;
	font-size: 20px;
	text-align: center;
}

#portal_button {
	position: fixed;
	right: 30px;
	top: 10px;

}

a {
	font-family: "Playwrite DE VA", cursive;
	color: rgb(180, 44, 146);
	text-decoration: none;
	text-align: center;
}

#redfox{
	position:top;
	float: left;
	height: 50px;
	bottom: 50px;
	text-align: center;
}

#newsfeed {
	font-weight: 400px;
	max-width: 600px;
	min-width: 600px;
	text-align: center;
}

#feedphoto {
	font-weight: 400px;
	max-width: 150px;
	max-height: 150px;
	text-align: center;
	border: 100px solid black;
	padding: 50px;
	border-image: url(whiteBackground.png);
}

.myClass {
	color:black;
	font-weight: 100px;
	text-decoration: none;
}
body {
	font-weight: 400px;
    background-image: url(../images/pinkoink.png);
    background-repeat: no-repeat;
}

